.game-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.player-move,
.computer-move {
  text-align: center;
}

.move-emoji {
  font-size: 5rem;
  margin: 10px 0;
}

.result {
  text-align: center;
}

.result h2 {
  font-size: 2rem;
  color: var(--primary);
}

