.game-mode-select {
  display: flex;
  align-items: center;
}

.mode-select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--primary);
  background-color: white;
  color: var(--text);
  font-size: 1rem;
}

.info-icon {
  margin-left: 10px;
  cursor: help;
  font-size: 1.2rem;
}

